/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;
}

a:hover {
  font-size: 1.05em;
  text-decoration: underline;
}

i:hover, .page-link {
  cursor: pointer;
}
